<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sanrakshak</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<link rel="stylesheet" type= "text/css" href="/public/css/log.css" />
	
	<script type="text/javascript" src="/public/js/log.js"></script>
<script>
 
</script>
</head>

<body style="background:linear-gradient(to right,   #FFD700, #8B4513) !important;"> 
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center"><img src="/public/images/shield.png" alt="Logo" style="max-width: 35px;"><b>Sign In</b></h5>
            <form class="form-signin" action="/login"  method="POST">
              <div class="form-label-group">
                <input type="email" name="inputEmail" class="form-control" placeholder="Email address"  required autofocus />
                <label for="inputEmail">Email address</label>
              </div>
               <div class="form-label-group">
                <input type="password" name="inputPassword" class="form-control" placeholder="Password"  required />
                <label for="inputPassword">Password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" style="background-color:#FFA500 !important; border-color: transparent !important;">Sign in</button>
             <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" style="background-color:#CD853F !important; border-color: transparent !important;" onclick="location.href = 'signup.html';">Sign Up</button>
             
            
         </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


</html>